<%= stylesheet_link_tag 'bullseye', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'slide-swiper', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="screen-filter">
<canvas class="webgl"></canvas>
</div>

<div id="title" class="home-title prevent-select">
  <div id="container">
    <div id="overlay"></div>

    <div id="video">
      <div id="video-container">
      </div>
    </div>

    <div class="s s2 forward slide-swiper" id="photos">

      <div class="container section-wrapper">
        <div id="swiper-1"
             class="row swiper-container projects wow fadeInLeft"
             data-wow-delay="0.45s">
          <div id="slide-box-one" class="swiper-wrapper scroll-point">

            <% @photos.each_with_index do |photo, index| %>
              <div class="slider-item project-slide swiper-slide">
                <div class="slider-image-wrapper <%= photo.project_name.split(' ')[0] %> projects">
                  <%= image_tag "#{photo.photo_url}", id: "image#{index}" %>
                </div>
                <h1 id="project-name"><%= photo.project_name %></h1>
              </div>
            <% end %>

          </div>

          <div class="slider-buttons">
            <button class="swiper-button-prev projects">Prev</button>
            <button class="swiper-button-next projects">Next</button>
          </div>

          <div class="swiper-pagination projects"></div>
        </div>
      </div>
    </div>

    <h1 id="port-name">Bullseye Studio</h1>
    <h2 id="my-design">My Design Portfolio</h2><br><br>


  </div>
</div>

<div id="categories" class="prevent-select">

  <ul class="prevent-select">
    <li class="item button ready" id="gltf1"><button id="btn1" type="button">barracuda1968<span>blender</span></button></li>
    <li class="item button ready" id="gltf2"><button id="btn2"  type="button">fathersanchez<span id="unity">unity</span></button></li>
    <li class="item button developing" id="gltf3"><button id="btn3"  type="button">wallsofintramuros<span>blender</span></button></li>
    <li class="item button developing" id="gltf4"><button id="btn4"  type="button">motown, u.s.a.<span id="unity">unity</span></button></li>
    <li class="item button ready" id="gltf5"><button id="btn5"  type="button"><span id="unity">sample</span><span>images</span></button></li>
    <li id="end">...adding more soon</li>

  </ul>

  <div id="back-button" class="undisplay"><h3>back</h3></div>

</div>

<!-- slide swiper -->
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js"></script>

<%= javascript_include_tag 'root/base', 'data-turbolinks-track': 'reload', type: :module, crossorigin: 'anonymous' %>
<%= javascript_include_tag 'canvas/bullseye', 'data-turbolinks-track': 'reload', type: :module, crossorigin: 'anonymous' %>
