<%= stylesheet_link_tag 'cookieshop', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="rc-project-view">

  <div id="project-header">
    <div class="header-content container">
      <div class="img-container">
        <%= image_tag "#{$s3}cookies-bump.png", class: "header" %>
      </div>
      <div class="text-container">
        <h1 class="header">Cookies by RELLE</h1>
      </div>
    </div>
  </div>

  <div id="project-desc">
    <div class="desc-container container">
      <div class="main-points">
        <h2 class="header">eCommerce site</h2>
        <ul>
          <li>Ruby on Rails website</li>
          <li>Devise preset DB Schema</li>
          <li>Stripe API cart checkout </li>
        </ul>
        <br>
        <%= link_to "https://github.com/briantacderan/rellescookies" do %>
          <span>Go to GitHub</span>
        <% end %>
      </div>
      <div class="description">
        <p>Custom SSL-certified eCommerce Ruby on Rails website complete with login authentication, Stripe API for payments, and my friends delicious cookies for sale (back in 2021). </p>
      </div>
    </div>
  </div>

  <div id="project-main">
    <div class="main-container container">
      <%= image_tag "#{$s3}cookies-web.png", id: "web", class: "primary" %>
    </div>
    <div class="extra-content">
      <div class="extra-container container">
        <%= image_tag "#{$s3}cookies-web2.png", class: "secondary" %>
        <%= image_tag "#{$s3}cookies-web3.png", class: "secondary" %>
        <%= image_tag "#{$s3}cookies-web4.png", class: "secondary" %>
      </div>
    </div>
  </div>

  <div id="me-contact" class="mobile-view">
    <h2>Contact Me</h2>
    <div id="ip-section" class="icon-popups mobile-view">
      <div id="ip-wrapper" class="wrapper mobile-view">
        <%= link_to "https://github.com/briantacderan", class: 'popup mobile-view' do %>
          <div class="icon github">
            <div class="tooltip">GitHub</div>
            <span><i class="fab fa-github"></i></span>
          </div>
        <% end %>

        <%= link_to "https://www.linkedin.com/in/briantacderan", class: 'popup mobile-view' do %>
          <div class="icon linkedin">
            <div class="tooltip">LinkedIn</div>
            <span><i class="fab fa-linkedin"></i></span>
          </div>
        <% end %>

        <%= link_to "https://youtube.com/@thetacderancode", class: 'popup mobile-view' do %>
          <div class="icon youtube">
            <div class="tooltip">YouTube</div>
            <span><i class="fab fa-youtube"></i></span>
          </div>
        <% end %>

        <%= link_to "https://vocal.media/authors/brian-tacderan", class: 'popup mobile-view' do %>
          <div class="icon vocal">
            <div class="tooltip">Vocal</div>
            <span><i class="fas fa-paragraph"></i></span>
          </div>
        <% end %>

        <%= link_to "https://twitter.com/BrianTacderan", class: 'popup mobile-view' do %>
          <div class="icon twitter">
            <div class="tooltip">Twitter</div>
            <span><i class="fab fa-twitter"></i></span>
          </div>
        <% end %>

        <%= link_to "mailto:brian@thetacderancode.com", class: 'popup mobile-view' do %>
          <div class="icon email">
            <div class="tooltip">Email</div>
            <span><i class="fab fa-telegram-plane"></i></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="last-img mobile-view">
    <%= image_tag "#{$s3}rooftop.png", id: "mission-img" %>
  </div>

</div>

<%= javascript_include_tag 'root/base', 'data-turbolinks-track': 'reload', type: :module, crossorigin: 'anonymous' %>
