<%= stylesheet_link_tag 'fmfitness', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="fm-project-view">

  <div id="project-header">
    <div class="header-content container">
      <div class="text-container">
        <h1 class="header">FM Fitness</h1>
      </div>
      <div class="img-container">
        <%= image_tag "#{$s3}fitness.png", class: "header" %>
      </div>
    </div>
  </div>

  <div id="project-desc">
    <div class="desc-container container">
      <div class="main-points">
        <h2 class="header">iOS SaaS Application</h2>
        <ul>
          <li>Google Firebase DB&Auth</li>
          <li>Client PF Customization</li>
          <li>UX Appointment Rsrv.</li>
          <li>Modern iOS Design&Features</li>
          <li>Simple Admin Control</li>
          <li>Stripe API Payment System</li>
        </ul>
        <br>
        <%= link_to "https://github.com/briantacderan/fmfitness-ios" do %>
          <span>Go to GitHub</span>
        <% end %>
      </div>
      <div class="description">
        <p>Personal Fitness SaaS application built with Swift iOS for administration appointment scheduling. Connected to Google Cloud's Firebase for easy login authentication. FaceID and other Apple iOS features also included. Allows clients to request and/or cancel appointments and send payments with Stripe API, directly to their personal trainer.</p>
      </div>
    </div>
  </div>

  <div id="project-main">
    <div class="main-container container">

      <%= image_tag "#{$s3}fitness-center.gif", id: "gif", class: "primary" %>
      <%= image_tag "#{$s3}iphone-frame.png", id: "frame", class: "primary" %>

    </div>
    <div class="extra-content">
      <div class="extra-container container">
        <%= image_tag "#{$s3}fitness-client.png", class: "secondary" %>
        <%= image_tag "#{$s3}fitness-dash.png", class: "secondary" %>
        <%= image_tag "#{$s3}fitness-admin.png", class: "secondary" %>
      </div>
    </div>
  </div>

  <div id="me-contact" class="mobile-view">
    <h2>Contact Me</h2>
    <div id="ip-section" class="icon-popups mobile-view">
      <div id="ip-wrapper" class="wrapper mobile-view">
        <%= link_to "https://github.com/briantacderan", class: 'popup mobile-view' do %>
          <div class="icon github">
            <div class="tooltip">GitHub</div>
            <span><i class="fab fa-github"></i></span>
          </div>
        <% end %>

        <%= link_to "https://www.linkedin.com/in/briantacderan", class: 'popup mobile-view' do %>
          <div class="icon linkedin">
            <div class="tooltip">LinkedIn</div>
            <span><i class="fab fa-linkedin"></i></span>
          </div>
        <% end %>

        <%= link_to "https://youtube.com/@thetacderancode", class: 'popup mobile-view' do %>
          <div class="icon youtube">
            <div class="tooltip">YouTube</div>
            <span><i class="fab fa-youtube"></i></span>
          </div>
        <% end %>

        <%= link_to "https://vocal.media/authors/brian-tacderan", class: 'popup mobile-view' do %>
          <div class="icon vocal">
            <div class="tooltip">Vocal</div>
            <span><i class="fas fa-paragraph"></i></span>
          </div>
        <% end %>

        <%= link_to "https://twitter.com/BrianTacderan", class: 'popup mobile-view' do %>
          <div class="icon twitter">
            <div class="tooltip">Twitter</div>
            <span><i class="fab fa-twitter"></i></span>
          </div>
        <% end %>

        <%= link_to "mailto:brian@thetacderancode.com", class: 'popup mobile-view' do %>
          <div class="icon email">
            <div class="tooltip">Email</div>
            <span><i class="fab fa-telegram-plane"></i></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="last-img mobile-view">
    <%= image_tag "#{$s3}rooftop.png", id: "mission-img" %>
  </div>

</div>

<%= javascript_include_tag 'root/base', 'data-turbolinks-track': 'reload', type: :module, crossorigin: 'anonymous' %>
