<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="about-view">

  <div id="parallax-intro">
    <div class="intro scrollDist"></div>

    <div class="intro main">
      <svg viewBox="0 0 1500 6000" xmlns="http://www.w3.org/2000/svg">
        <mask id="m">
          <g class="mtn-front">
            <rect fill="#fff" width="100%" height="1501" y="1499"/>
            <image xlink:href="https://tacderan-code.s3.us-west-1.amazonaws.com/images/new/sf-front-mtn-full.png" width="1500" height="1500" />
            <!--animate attributeName="opacity" from="0" to="1" begin="0s" dur="1s" fill="freeze"></animate-->
          </g>
        </mask>

        <image class="arrow" xlink:href="https://tacderan-code.s3.us-west-1.amazonaws.com/images/new/down-arrow.png" width="50px" height="50px" x="1250" y="850"/>

        <image class="bkg-skyline" xlink:href="https://tacderan-code.s3.us-west-1.amazonaws.com/images/new/sf-skyline-shadow.png" width="1500" height="1000" />
        <image class="mtn-left" xlink:href="https://tacderan-code.s3.us-west-1.amazonaws.com/images/new/sf-mtn-left.png" width="1500" height="1000"/>
        <image class="baywater" xlink:href="https://tacderan-code.s3.us-west-1.amazonaws.com/images/new/sf-baywater.png" width="1500" height="1000"/>
        <image class="bridge" xlink:href="https://tacderan-code.s3.us-west-1.amazonaws.com/images/new/sf-bridge.png" width="1500" height="1000"/>
        <image class="mtn-full" xlink:href="https://tacderan-code.s3.us-west-1.amazonaws.com/images/new/sf-front-mtn-full.png" width="1500" height="1000"/>

        <text class="think" fill="#424242" x="600" y="800">THINK. CREATE.</text>

        <image class="mtn-front mtn-front2" xlink:href="https://tacderan-code.s3.us-west-1.amazonaws.com/images/new/sf-front-mtn-white.png" width="100%" height="100%"/>

        <g mask="url(#m)">
          <rect fill="#fff" width="100%" height="100%" />
          <text class="inspire" x="500" y="800" fill="#162a43">INSPIRE. REPEAT.</text>
        </g>


        <rect id="arrowBtn" width="100" height="100" x="1250" y="850" opacity="0" style="cursor:pointer"/>

     </svg>
    </div>

    <div class="intro scrollPist"></div>
    <div class="intro about me-container">

      <h1 id="me">My name is <span>BRIAN TACDERAN</span> a Strategic Full Stack Web Developer based in San Francisco CA</h1>

      <section class="pSection">

        <div class="container">

          <div class="pContent">
            <h2>Skills</h2>
            <p class="skill">Competitive Sales</p>
            <p class="skill">Strategic Consulting</p>
            <p class="skill">Web/iOS Development</p>
            <p class="skill">Accounting/Finance</p>
            <p class="skill">Machine Learning</p>
            <p class="skill">Regression Analysis</p>
            <p class="skill">UX Design</p>
            <p class="skill">Vector Graphics</p>
          </div>
        </div>

        <div class="image-container image-one">
          <%= image_tag "#{$s3}oc-obs.png", class: "oc-obs" %>
        </div>

        <div class="image-container image-two">
          <%= image_tag "#{$s3}space-trash.png", class: "space-trash" %>
        </div>

      </section>
    </div>

    <div class="intro scrollBist"></div>
    <div class="intro projects me-container">

      <h1 id="me"><span>Selected Projects</span></h1>

      <section class="pSection">

        <div class="container">

          <div class="pContent">
            <p class="skill"><span>iOS application</span><br><br>FMFitness</p>
            <p class="skill"><span>eCommerce site</span><br><br>Cookies by RELLE</p>
            <p class="skill"><span>Current project (WiP)</span><br><br>Bullseye Studio</p>
            <p class="skill"><span>Financial Data Tool</span><br><br>Hoodcast</p>
          </div>
        </div>

        <div class="project-img image-one">
          <%= link_to fmfitness_path, class: "project-link" do %>
            <%= image_tag "#{$s3}fitness.png", class: "pImg oc-obs" %>
          <% end %>
        </div>

        <div class="project-img image-two">
          <%= image_tag "#{$s3}cookies.png", class: "pImg space-trash" %>
        </div>

        <div class="project-img image-three">
          <%= image_tag "#{$s3}bullseye.png", id: "frame", class: "pImg oc-obs" %>
        </div>

        <div class="project-img image-four">
          <%= link_to hoodcast_path, class: "project-link" do %>
            <%= image_tag "#{$s3}hoodcast.png", class: "pImg space-trash" %>
          <% end %>
        </div>

      </section>

      <section id="mission">

        <div class="container">
          <div class="me-container mission-content">
            <h1 id="mission-title"><span>Mission</span></h1>
            <p id="me" class="mission-content">It is absolutely critical in my career journey to integrate my technological enthusiasm with my entrepreneurial spirit and business education. Along the way, I aim to guarantee access to technology for everyone and ensure the industry is reflective of human diversity in totality. Other than enjoying code and writing it, I aim to utilize my business degree in computer science to create innovative products and services in technology. I am searching for stepping stones that reveal new potentials and possibilities for solutions that target the world's modern problems. <br><br> I want to tell my story, honor the people who paved the way for me, and expose social stigmas that persist. Working on projects relevant to society will allow me to take a stance, learn from my mistakes, and grow as a person. To work with a passionate team in tech will open the door for me to write inclusive code and persist changes in narrative. Because this industry reaches far corners worldwide, I hope to educate myself on how we can promote the best practices regarding how a more diverse and inclusive workplace can increase the economic potential of future applications.</p>
          </div>
        </div>

      </section>

      <div class="last-img">
        <%= image_tag "#{$s3}rooftop.png", class: "mission-img" %>
      </div>
    </div>
  </div>

</div>

<%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload' %>
