<div class="main home">

  <!-- introduction -->
  <div class="s s1 active introduction">
    <div class="container section-wrapper">
      <div class="row">
        <br><br>
        <h1 class="hello title-header wow fadeInLeft">
            <!--style="font-size: 6rem;"-->
          <!--i>HELLO</i-->
            Hello.
        </h1>

        <!--div style="padding-left: 2.5rem;"-->
        <h1 class="about wow fadeInLeft" data-wow-delay="1.8s">
          My name is <strong>BRIAN TACDERAN</strong>.
        </h1>  <!--br-->
        <h1 class="about wow fadeInLeft" data-wow-delay="2s">
          I am a full-stack developer.
        </h1>
      </div>
    </div>
  </div>

  <!-- slide swiper -->
  <div class="s s2 forward slide-swiper">

    <h1 class="row title-header wow fadeInDown" data-wow-delay="0.25s">
      <strong id="proj-title">Projects</strong>
    </h1><br>

    <div class="container section-wrapper">
      <div id="swiper-1" 
           class="row swiper-container projects wow fadeInLeft" 
           data-wow-delay="0.45s">
        <div id="slide-box-one" class="swiper-wrapper scroll-point">

          <% @projects.each_with_index do |project, index| %>
            <div class="slider-item project-slide swiper-slide <%= project.id_tag.split('-')[1] %> <%= project.id_tag.split('-')[0] %>">
              <div class="slider-image-wrapper <%= project.id_tag %> projects">
                <%= link_to project.website_url, class: "slider-image" do %>
                  <%= image_tag "#{@s3}#{project.image}", id: project.id_tag %>
                <% end %>
              </div>
              <div id="slider-content-container">

                <div id="slider-left" class="slider-item-content">
                  <h1><%= project.title %></h1>
                  <p class="front-desc"><%= project.description %></p>
                  <div id="slide-divider"></div>
                </div>

                <div id="slider-right" class="slider-item-content">
                  <div id="slide-right-container" class="wrapper">
                    <ul>

                      <li class="icon preview specs">
                        <div class="tooltip">
                          <div class="project-about">
                            <div class="specs-container">

                              <div class="stack-container">
                                <h3><strong>TECH STACK</strong><br>featuring</h3>
                                <ul class="stack-list">

                                  <% @stones[index].stacks.each do |stack| %>
                                    <li>
                                      <%= image_tag "#{@s3}#{stack}", class: "stack-item" %>
                                    </li>
                                  <% end %>

                                </ul>
                              </div>

                              <ul class="showcase-list">
                                <li><h3 class="th"><strong>MILESTONES</strong> noteworthy updates</h3></li>

                                <% for j in 1..@stones[index].racks.length do %>
                                  <li>
                                    <h3><%= @stones[index].racks[j-1] %></h3>
                                    <p class="p-tags"><%= @stones[index].tags[j-1] %></p>
                                  </li>
                                <% end %>

                              </ul>

                            </div>
                          </div>
                        </div>
                        <h3 class="hover-button">SPECS</h3>
                      </li>

                      <li class="icon preview site">
                        <div class="tooltip">
                          <%= image_tag "#{@s3}#{project.preview_file}" %>
                        </div>
                        <h3 class="hover-button">PREVIEW</h3>
                      </li>

                      <li id="project-links">
                        <a href="<%= project.website_url %>">
                          WEBPAGE
                        </a>
                        <a href="<%= project.git_url %>">
                          GIT
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>

              </div>
            </div>
          <% end %>

        </div>

        <div class="slider-buttons">
          <button class="swiper-button-prev projects">Prev</button>
          <button class="swiper-button-next projects">Next</button>
        </div>

        <div class="swiper-pagination projects"></div>
      </div>
    </div>
  </div>

  <!-- neomorphism -->
  <div class="s s3 forward neomorphism">

    <div id="swiper-2" class="row swiper-container neo wow fadeInLeft" data-wow-delay="0.45s">
      <div id="slide-box-two" class="swiper-wrapper scroll-point neo">
          
        <div id="about-me-slide" class="slider-item project-slide swiper-slide about-me">
          <div class="slider-image-wrapper projects">
            <%= image_tag "#{@s3}profile-img.png", class: "neo about-me" %>
          </div>
          <div id="slider-content-container">

            <div id="slider-left" class="slider-item-content">
              <h1>About me</h1>
              <p class="front-desc">Looking to attain full stack related position in tech. Wanting to develop my skills through team collaboration and guided mentorship. Aiming to find a diverse group of people, that closely share my eagerness to create positive and impactful innovations that will lead local SF Bay Area and global communities toward the future. Fintech, Data Science, and Strategic Management. However, my interests cover everything under the tech umbrella.</p>
              <div id="slide-divider"></div>
            </div>

            <div id="slider-right" class="slider-item-content">
              <div id="slide-right-container" class="wrapper">
                <ul>

                  <li class="icon preview specs">
                    <div class="tooltip">
                      <div class="project-about">
                        <div class="specs-container">

                          <ul class="showcase-list">
                            <li><h3 class="th"><strong>About</strong> my purpose</h3></li>

                            <li id="p-tags-list">
                              <p id="p-tag-1" class="p-tags">Everyday I’m learning new skills, and I’m growing into myself faster than ever. Thanks to the limitless online resources out there, we can push toward new heights. And when we keep society and the people we care for in mind, innovation can be achieved with little friction to satisfy whatever need that is out there. I want to work with a team that truly cares to make a difference in today’s world, as the world fills with uncertainty or disadvantage. I want to level the playing field, get new accounts of real issues, and strategize what can be done. And simply make it happen.</p>

                              <p id="p-tag-2" class="p-tags">Problem solving is more effective through a collaboration of diverse minds. Being inundated with so much data, the world has the resources to tackle the growing list of global issues, a lot of which can be solved through teamwork. Putting our minds together, lending a helping hand, and directing diversity and collaboration toward the heart of communities-in-need is where change should begin, as we aim for equality for all.</p>

                              <p id="p-tag-3" class="p-tags">Each of us has had to face unique challenges during these past years. I am still in awe of how the world came together in swift resilience, in spite of the continually looming tragedy throughout the duration of the pandemic. While some days have been sparse of hope, love has managed to shine through, even during the most critical moments in economic, political, and social turmoil.</p>

                              <p id="p-tag-4" class="p-tags">Like many of history’s major obstacles, one thing proves true: when we are at our most vulnerable, real change comes soon after, and what we as a society value takes center stage. These values appear as disparate Zeitgeists and somehow find ways to morph simple opinions into contentious ideologies. This causes further alienation, even between close friends and family. As mask mandates were lifted, being a good neighbor had to be relearned in a world too unfamiliar. Along with leaps in advancement in the modern, globalized world, unprecedented social transformation traversed around the world faster than any wave that a tsunami or pandemic can produce. The ideas and values we choose to persist in our communities and abroad has never been more critical to mold into what is right for this new beginning.</p>
                                   
                              <p id="p-tag-5" class="p-tags">Addressing the pandemic, however challenging, immense, uncomfortable, or hopeless it has been, life still goes on. The fight for equality and justice has never been more imperative than it is today. Ethical business practices are essential. Transparency has ensued society to come together. We are called to defend each other in a force so mystifyingly provocative, for our once deeply-held beliefs are quickly being disillusioned at this very moment.</p>

                              <p id="p-tag-6" class="p-tags">I am networking to meet and work with kindred souls, who also aim to innovate with the broad vision of making life easier for everyone, especially for those disadvantaged while pursuing their dreams.</p>

                              <p id="p-tag-7" class="p-tags">San Franciscan, Filipino-American/AAPI, BIPOC, and LGBTQQIA+ communities are just a few of the groups that I identify with. It may seem totally easy to seek refuge in these communities, but more than a decade ago, it was not, at least for me. For many young people today, the concept of loving who you are is still foreign. True acceptance and identifying with a label is a journey in itself because compassion can be absent during challenging times. However, with years of introspection and with every moment I was inspired by brave trailblazers, I eventually learned to embrace myself fully and stand tall. My last name, Tacderan, comes from the Ilocano language, a Filipino dialect of the people from the northernmost tip of the Philippine Islands. Tacderan means "to stand up." Surely, I did -- call it the Tacderan code.
                                      
                              <p id="p-tag-8" class="p-tags">My purpose in life is to be that inspiration and guide for others also. From these learned reference points, I am readily open to expand my values and build bridges where none have yet been built. When we collectively open our minds and embrace what makes each of us different, major shifts occur in law and society. Full awareness of our diversity allows empathy to dictate economic growth. These newly established connections allow us to stand in solidarity with the people we walk by everyday, not with fear but with friendly debate. Let’s invite new possibilities to build, write, and design the future together and for one another. I encourage you to connect with me and share your story or just say hello!</p>

                              <p id="p-tag-8" class="p-tags">Be inspirational by being you. For the city, for the people, and for the world!</p>
                            </li>

                          </ul>

                        </div>
                      </div>
                    </div>
                    <h3 class="hover-button">PURPOSE</h3>
                  </li>
                  <li></li>
                  <li></li>

                </ul>
              </div>
            </div>

          </div>
        </div>

        <div id="cert-slide" class="slider-item swiper-slide neo">
          <h1 class="row title-header neo wow fadeInDown"
              data-wow-delay="0.25s">
            <strong>Certificates</strong>
          </h1><br>

          <div id="cert-container" class="swiper-wrapper neo">

            <% @skills.each_with_index do |skill, index| %>
              <div class="box-section neo">
                <div id="box-A<%= index+1 %>"
                     class="container section-wrapper neo box box-A">
                  <%= image_tag "#{@s3}#{skill.icon}", class: "neo cert-icon" %>
                </div>
                <div id="box-B<%= index+1 %>"
                     class="container section-wrapper neo box box-B animated">
                  <%= image_tag "#{@s3}#{skill.cert}", class: "neo cert-full" %>
                </div>
              </div>
            <% end %>

          </div>
        </div>

        <div id="edu-slide" class="slider-item swiper-slide neo">
          <div class="row swiper-container neo wow fadeInLeft"
               data-wow-delay="0.45s">
            <div id="edu-container" class="swiper-wrapper">

              <div class="slider-image-wrapper neo-image-wrapper">
                <%= image_tag "#{@s3}ggu-pride.png", id: "ggu-image" %>
              </div>

              <div id="slider-content-container" class="ggu">
                <div id="slider-left" class="slider-item-content ggu">
                  <h1>GOLDEN GATE UNIVERSITY</h1>
                  <h2>Bachelor's Degree, B.S. Business</h2>
                  <p>San Francisco, CA (US)</p>
                </div>
                <p>Aug 2013 - Aug 2018</p>
              </div>

            </div>
          </div>

        </div>

        <div id="exp-slide" class="slider-item swiper-slide neo">
          <h1 class="row title-header neo wow fadeInDown"
              data-wow-delay="0.25s">
            <strong>Experience</strong>
          </h1><br>

          <div id="exp-container" class="swiper-wrapper neo">
            <div class="exp-item">
              <div class="exp-img-container">
                <%= image_tag "#{@s3}clarins-logo.png", class: "exp-img", id: "clarins-img" %>
              </div>
              <div class="exp-content">
                <h2>Fragrance Specialist</h2>
                <strong>CLARINS</strong>
                <h3>San Francisco Bay Area, CA</h3><br />
              </div>
            </div>
            <p id="first-exp">Traveled around Bay Area to represent various fragrance brands at most peninsula and SF county malls. Main vendor representative at Serramonte and Hillsdale Macy's for 3+ years each, totaling over 6 years. Exceeded sales goals during most assignments on main visual and focus. Developed great work relationships with a truly diverse group of the best people in the Bay Area, mostly competitors</p>

            <div class="exp-divider">

              <div class="exp-item">
                <div class="exp-img-container">
                  <%= image_tag "#{@s3}ccsf-logo.png", class: "exp-img" %>
                </div>
                <div class="exp-content">
                  <h2>Office Assistant</h2>
                  <strong>CITY COLLEGE OF SAN FRANCISCO</strong>
                  <h3>San Francisco, CA</h3><br />
                </div>
              </div>
              <p>Worked multiple short stints supporting the Financial Aid, Nursing, and Accounting Departments in various office duties. Gained insight into the many department processes that function together to support the second largest community college in the U.S. Assisted in processing journal entries and contracts and in organizing of the filing system, eventually leading a necessary overhaul to completion. Was given additional responsibility in handling the disbursements, averaging $10k and above, of annual budget resources to various departments and faculty, using the Oracle Banner ERM system</p>

              <div class="exp-divider">

                <div class="exp-item">
                  <div class="exp-img-container">
                    <%= image_tag "#{@s3}bike-logo.png", class: "exp-img", id: "bike-logo" %>
                  </div>
                  <div class="exp-content">
                    <h2>Bike Mechanic</h2>
                    <strong>BIKE RELIGION</strong>
                    <h3>Irvine, CA</h3><br />
                  </div>
                </div>
                <p>Year stint in bicycle repair, maintenance, and sales at UC Irvine. Developed abilities in managing a queue of various bikes of different needs, requiring problem solving abilities at all levels. Developed not only skills in mechanical repair but gained much insight on optimization through the prioritization of tasks, serving the student body of UCI, which translated into programming code and developing business plans.</p>

              </div>
            </div>

          </div>
        </div>
        <div class="slider-buttons">
          <button class="swiper-button-prev neo">Prev</button>
          <button class="swiper-button-next neo">Next</button>
        </div>

        <div class="swiper-pagination neo"></div>


      </div>
    </div>
  </div>
        
  <!-- conclusion -->
  <div id="quote" class="s s4 forward conclusion">
    <div class="container section-wrapper">
      <div class="row">
        <br><br>
          
        <h1 class="about wow fadeInLeft">
            <strong>"...My last name</strong> <span> Tacderan</span> <strong>comes from the Ilocano language, a Filipino dialect of the people from the northernmost tip of the Philippine Islands.</strong>.
        </h1><br /><br />
        
        <h1 class="about wow fadeInLeft middle" data-wow-delay="5s">
            <strong>Tacderan means</strong> <span> to stand up</span> <strong>And surely, I did</strong>
        </h1><br />
          
        <h1 class="wow fadeInLeft end" data-wow-delay="8s">
          <i>-- call it</i> the Tacderan code."
        </h1>
          
      </div>
    </div>
  </div>

        
</div>

<%= javascript_pack_tag 'skills' %>
