<div class="main home">

  <!-- introduction -->
  <div class="s s1 active introduction">
    <div class="container section-wrapper">
      <div class="row">
        <br><br><h1 class="hello title-header wow fadeInLeft">
          Hello.
        </h1>

        <h1 class="about wow fadeInLeft" data-wow-delay="1.8s">
          My name is <strong>Brian Tacderan</strong>.
        </h1>
        <h1 class="about wow fadeInLeft" data-wow-delay="2s">
          I am an aspiring full-stack engineer.
        </h1>

      </div>
    </div>
  </div>

  <!-- slide swiper -->
  <div class="s s2 forward slide-swiper">

    <h1 class="row title-header wow fadeInDown" data-wow-delay="0.25s">
      <strong>> Projects</strong>
    </h1><br>

    <div class="container section-wrapper">
      <div class="row swiper-container projects wow fadeInLeft" data-wow-delay="0.45s">
        <div id="slide-box" class="swiper-wrapper">
          
          <% @projects.each do |project| %>
            <div class="slider-item swiper-slide">
              <div class="slider-image-wrapper <%= project.id_tag %>">
                <%= link_to project.website_url, class: "slider-image" do %>
                  <%= image_tag project.image, id: project.id_tag %>
                <% end %>
              </div>
              <div id="slider-content-container">
                
                <div id="slider-left" class="slider-item-content">
                  <h1><%= project.title %></h1>
                  <p><%= project.description %></p>
                  <div id="slide-divider"></div>
                </div>
                
                <div id="slider-right" class="slider-item-content">
                  <div id="slide-right-container" class="wrapper">
                    <ul>
                    
                      <li class="icon preview specs">
                        <div class="tooltip">
                          <div class="project-about">
                          </div>
                        </div>
                        <h3>SPECS</h3>
                      </li>
                      
                      <li class="icon preview site">
                        <div class="tooltip">
                          <%= image_tag project.preview_file %>
                        </div>
                        <h3>PREVIEW</h3>
                      </li>
                    
                      <li id="project-links">
                        <a href="<%= project.website_url %>">
                          WEBPAGE
                        </a>
                        <a href="<%= project.git_url %>">
                          GIT
                        </a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
                  
              </div>
            </div>
          <% end %>

        </div>

        <div class="slider-buttons">
          <button class="swiper-button-prev projects">Prev</button>
          <button class="swiper-button-next projects">Next</button>
        </div>
        
        <div class="swiper-pagination projects"></div>
      </div>
    </div>
  </div>
  
  <!-- neomorphism -->
  <div class="s s3 forward neomorphism">
    
    <div class="row swiper-container neo wow fadeInLeft" data-wow-delay="0.45s">
      <div id="slide-box-two" class="swiper-wrapper neo">
        
        <div id="about-me-slide" class="slider-item swiper-slide neo">
          <h1 class="row title-header neo wow fadeInDown" data-wow-delay="0.25s">
            <strong>About me</strong>
          </h1><br>
          <div id="about-me-container" class="swiper-wrapper neo">
            <%= image_tag "profile-img.png", class: "neo about-me" %>
            <div id="about-me-content" class="about-me">
              <p>Looking to attain UI/UX and full-stack related positions in Tech. Inclined towards joining a start-up team to call home, so I can further develop my skills in building full enterprise frameworks along with new and upcoming products that will make all-around positive differences in the local SF and Bay Area communities.</p>
            </div>
          </div>
        </div>
            
        <div id="cert-slide" class="slider-item swiper-slide neo">
          <h1 class="row title-header neo wow fadeInDown" data-wow-delay="0.25s">
            <strong>Codecademy Certificates</strong>
          </h1><br>   
           
          <div id="cert-container" class="swiper-wrapper neo">
          
            <% @skills.each_with_index do |skill, index| %>
            <div class="box-section neo">
              <div id="box-A<%= index+1 %>" class="container section-wrapper neo box box-A">
                <%= image_tag skill.icon, class: "neo cert-icon" %>
              </div>
              <div id="box-B<%= index+1 %>" class="container section-wrapper neo box box-B animated">
                <%= image_tag skill.cert, class: "neo cert-full" %>
              </div>
            </div>
            <% end %>
      
          </div>
        </div>
          
        <div id="edu-slide" class="slider-item swiper-slide neo">
          <div class="row swiper-container neo wow fadeInLeft" data-wow-delay="0.45s">
            <div id="slide-box" class="swiper-wrapper">
             
                <div class="slider-image-wrapper neo-image-wrapper">
                  <%= image_tag "ggu-pride.png", id: "ggu-image" %>
                </div>
            
                <div id="slider-content-container">
                
                  <div id="slider-left" class="slider-item-content">
                    <h1>GOLDEN GATE UNIVERSITY</h1>
                    <h2>Bachelor's Degree, B.S. Business</h2>
                    <p>San Francisco, CA (US)</p>
                  </div>
                  <p>Aug 2013 - Aug 2018</p>
                    
                </div>
                
            </div>
          </div>  
      
        </div>
          
        <div id="exp-slide" class="slider-item swiper-slide neo">
          <h1 class="row title-header neo wow fadeInDown" data-wow-delay="0.25s">
            <strong>Experience</strong>
          </h1><br>
            
          <div id="exp-container" class="swiper-wrapper neo">
            
            <div class="exp-item">
              <div class="exp-img-container">
                <%= image_tag "clarins-logo.png", class: "exp-img" %>
              </div>
              <div class="exp-content">
                <h2>Fragrance Specialist</h2>
                <strong>CLARINS</strong>
                  <h3>San Francisco Bay Area, CA</h3>
              </div>
            </div>
            <p>Traveled around Bay Area to represent various fragrance brands at most peninsula and SF county malls. Able to secure at least one limited position at a fragrance counter, representing a brand at all times for 6 years, mainly at Hillsdale Mall in San Mateo, CA, reaching reasonable sales goals during 100% of all assignments and during 99% of assignments of crucial events/peak holiday traffic times.</p>
            
            <div class="exp-divider">
              
            <div class="exp-item">
              <div class="exp-img-container">
                <%= image_tag "ccsf-logo.png", class: "exp-img" %>  
              </div>
              <div class="exp-content">
                <h2>Office Assistant</h2>
                <strong>CITY COLLEGE OF SAN FRANCISCO</strong>
                <h3>San Francisco, CA</h3>
              </div>
            </div> 
            <p>Worked multiple short stints supporting the Financial Aid, Nursing, and Accounting Departments in various office duties. Gained insight into the many department processes that function together to support the second largest community college in the U.S. Assisted in processing journal entries and contracts and in organzing of the filing system, eventually leading a necessary overhaul to completion. Was given additional responsibility in handling the dispursements, averaging $10k and above, of annual budget resources to various departments and faculty, using the Oracle Banner ERM system</p>
              
            <div class="exp-divider">
              
            <div class="exp-item">
              <div class="exp-img-container">
                <%= image_tag "bike-logo.png", class: "exp-img", id: "bike-logo" %>  
              </div>
              <div class="exp-content">
                <h2>Bike Mechanic</h2>
                <strong>BIKE RELIGION</strong>
                <h3>Irvine, CA</h3>
              </div>
            </div>
            <p>Year stint in bicycle repair and maintenance. Developed abilities in  problem solving, which certainly relates to the skills necessary for programming code and developing business plans.</p>
              
          </div> 
        </div>
          
      </div>
    </div>
    <div class="slider-buttons">
      <button class="swiper-button-prev neo">Prev</button>
      <button class="swiper-button-next neo">Next</button>
    </div>
    
    <div class="swiper-pagination neo"></div>
    
      
  </div>
</div>

<%= javascript_pack_tag 'skills' %>
