<div class="main home">

  <!-- introduction -->
  <div class="s s1 active introduction">
    <div class="container section-wrapper">
      <div class="row">
        <br><br><h1 class="hello title-header wow fadeInLeft">
          Hello.
        </h1>

        <h1 class="about wow fadeInLeft" data-wow-delay="1.8s">
          My name is <strong>Brian Tacderan</strong>.
        </h1>
        <h1 class="about wow fadeInLeft" data-wow-delay="2s">
          I am an aspiring full-stack engineer.
        </h1>

      </div>
    </div>
  </div>

  <!-- slide swiper -->
  <div class="s s2 forward slide-swiper">

    <h1 class="row title-header wow fadeInDown" data-wow-delay="0.25s">
      <strong>> Projects</strong>
    </h1><br>

    <div class="container section-wrapper">
      <div class="row swiper-container wow fadeInUp" data-wow-delay="0.45s">
        <div id="slide-box" class="swiper-wrapper">
            
          <% @projects.each do |project| %>
            <div class="slider-item swiper-slide">
              <div class="slider-image-wrapper <%= project.id_tag %>">
                <%= link_to project.website_url, class: "slider-image" do %>
                  <%= image_tag project.image, class: project.id_tag %>
                <% end %>
              </div>
              <div id="slider-content-container">
                
                <div id="slider-left" class="slider-item-content">
                  <h1><%= project.title %></h1>
                  <p><%= project.description %></p>
                  <div id="slide-divider"></div>
                </div>
                  
                <div id="slider-right" class="slider-item-content">
                  <div id="slide-right-container" class="wrapper">
                    <div class="icon preview">
                      <div class="tooltip">
                        <%= image_tag project.preview_file %>
                      </div>
                      <h3>PREVIEW</h3>
                    </div>
                    <ul>
                      <li>
                        <a href="<%= project.git_url %>">GIT PAGE</a>
                      </li>
                      <li>MORE INFO</li>
                    </ul>
                  </div>
                </div>
                  
              </div>
            </div>
          <% end %>

        </div>

        <div class="slider-buttons">
          <button class="swiper-button-prev">Prev</button>
          <button class="swiper-button-next">Next</button>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <!-- neomorphism>
  <div class="s s3 neomorphism">  
    
    <h1 class="row title-header wow fadeInDown" data-wow-delay="0.25s">
      <strong>Codecademy Certificates</strong>
    </h1><br>  
    
    <div class="box-section">
      <div class="container section-wrapper box"></div>
    </div>

  </div-->
    
</div>
