<!DOCTYPE html>
<html>

  <head>
    <title>The Tacderan Code</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--meta name="turbolinks-visit-control" content="reload" / -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Castoro:ital@0;1&family=Kaushan+Script&family=Orbitron:wght@900&family=Permanent+Marker&family=Lexend+Zetta:wght@200;300;400;900&family=Fugaz+One&family=Major+Mono+Display&family=Poppins:wght@200;300;500;700;900&family=Russo+One&display=swap" rel="stylesheet" />

    <!-- universal -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- icon popups -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <%= stylesheet_link_tag 'icon-popups', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- jquery -->
    <script type="module" src="//cdn.jsdelivr.net/jquery/2.2.0/jquery.min.js"></script>
    <script type="module" src="//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>

    <!--imagesLoaded -->
    <script type="module" src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>

    <!-- gsap -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>

    <!-- lenis -->
    <script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>

    <!-- scroll reveal -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css" />

    <!-- slide swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />

    <%= favicon_link_tag asset_path("#{$s3}bt-logo.png") %>

  </head>

  <body id="home">

    <div id="loading-page">
      <svg width="2300px"
       height="2400px"
       viewBox="0 0 200 200"
       class="mv-svg-title">
        <linearGradient id="gradation-1">
          <stop offset="0%"   stop-color="#1bb"/>
          <stop offset="100%" stop-color="#d2d"/>
        </linearGradient>
        <g>
          <path
             style="color:#000000;fill:#666666;stroke-width:0;stroke-linecap:round;stroke-miterlimit:0;paint-order:stroke fill markers"
             d="m 103.23489,98.297383 c -0.26555,0.0708 -2.85322,-1.256592 -5.238334,-3.723175 -0.239391,-0.210582 -0.428876,-0.40501 -0.58438,-0.579727 -0.840206,-0.943994 -0.488837,-0.547861 -0.644266,-1.264441 -0.03168,-2.004708 0.01483,-1.56348 -0.0044,-2.545244 -0.02145,-1.587839 0.03192,-1.516999 0.03176,-2.433922 0,-4.39095 0.202041,-4.325142 0.468154,-4.575372 0.494297,-0.250243 -0.281989,-0.10546 3.027146,-0.158047 1.85475,-0.0056 3.07089,-0.124006 3.01059,0.517054 0.0296,0.89794 0.0164,1.124799 0.0116,1.829525 -0.0121,1.798489 0.0614,2.161239 -0.21494,2.287555 -0.66866,0.305655 -0.70828,0.344592 -0.70828,0.344592 0.61995,0.709864 0.75719,0.713297 0.7537,1.237784 m 1.41927,0.350117 v 0 c 0.0102,-1.882861 0.0195,-3.139669 0.0382,-4.633044 -0.0189,-3.1823 0.39213,-2.705005 -1.24363,-2.777168 -0.8157,0.03329 -1.84742,0.03425 -2.47964,0.02755 -0.0174,-2.13096 -0.14795,-1.990087 1.65873,-2.03652 l 3.74783,-0.02031 3.15836,0.02396 c 0.34656,0.07337 0.53559,0.357553 0.54356,0.78936 0.009,0.509093 -0.11949,1.094603 -0.11949,1.094603 -0.14748,0.06437 -1.13894,-0.03178 -1.73007,0.02763 -2.24763,0.09378 -1.68768,-0.489777 -1.75686,4.000521 -0.0176,3.929115 -0.046,0.492874 -0.0157,3.875262 0.0361,2.4293 0.0342,2.745561 0.0352,3.941231 0.019,2.037218 0.0473,2.683406 -0.0392,3.044187 -0.10229,0.426744 -0.56564,0.634808 -1.82012,1.358755 0.0124,-2.058057 0.0203,-5.766572 0.0229,-8.716019 z m 3.98098,6.061287 c 1.58406,-1.890523 2.52438,-2.885159 3.49481,-4.879907 2.50878,-5.276128 3.04249,-8.407396 1.75711,-12.549076 -1.24283,-4.004561 -3.02658,-5.162494 -5.78294,-6.887219 -1.22636,-0.767362 -2.10845,-0.82295 -2.82254,-0.217255 -0.97668,0.828431 -2.76505,0.858395 -3.96388,-0.0072 -0.57495,-0.299999 -1.543357,-0.443423 -2.652967,0.243809 -1.159774,0.672619 -3.045712,1.679659 -5.63857,6.843975 -0.999622,1.990993 -2.284939,6.016832 1.626571,12.81172 0.243976,0.485423 2.51119,3.411812 5.163081,5.588102 1.714065,1.406658 3.568515,2.33957 4.175935,2.347644 0.85653,0.01139 3.009,-1.570165 4.64339,-3.294551 z m -9.3549,1.933862 c -0.868713,-0.659545 -1.177307,-0.743167 -1.625088,-0.09205 -0.584264,0.849546 -1.307115,1.441002 -1.996364,1.63348 -0.716191,0.199996 -0.656724,0.522687 -1.435968,0.285844 -0.357771,-0.108735 -0.849965,-0.24645 -1.093762,-0.306033 -1.114116,-0.272294 -2.036136,-1.237282 -2.038222,-2.36314 -0.0016,-0.996001 -0.190747,-1.917673 1.355206,-3.685178 0.903937,-1.03348 1.584449,-0.846904 0.752026,-1.99887 -2.798845,-3.873239 -3.577235,-9.162466 -1.419417,-13.650329 0.17209,-0.357919 0.161775,-0.538593 0.07571,-0.546026 -1.015985,-0.08774 -1.935197,0.421458 -3.973836,2.20129 -0.626097,0.546617 -1.435812,1.193925 -1.799367,1.438455 -1.787683,1.202439 -4.597132,2.104825 -4.597132,1.476579 0,-0.778376 1.265661,-3.919212 2.405827,-5.431862 0.837558,-1.111174 2.785639,-3.361794 3.894439,-4.138249 2.5279,-1.616429 5.281032,-2.278859 8.229916,-1.808785 1.518244,0.316927 1.220611,-0.102934 2.475163,-0.793169 1.162033,-0.586749 2.037169,-0.40255 1.758099,-1.027009 -0.968768,-1.809687 -1.185856,-4.443775 -0.370265,-6.055311 0.258295,-0.527823 -0.162725,-0.543892 0.08608,-1.163606 0.162155,-0.09557 1.217035,-0.882959 1.697025,-1.303494 1.0898,-0.954811 1.21694,-1.167769 1.67989,-1.167769 0.45081,0 0.53049,0.01542 1.77803,1.129198 0.48262,0.430881 1.5248,1.187442 1.68317,1.30936 0.40208,0.369391 -0.064,0.934866 0.16433,1.344264 0.87796,1.528347 0.62004,4.08076 -0.45178,5.93664 0.0711,0.703603 1.22069,0.652803 1.91113,0.947185 1.04882,0.447187 0.98641,1.362415 2.40206,0.743442 3.39821,-0.862662 7.19713,0.498788 10.21459,3.831816 1.3567,1.498592 2.1815,2.846176 3.0953,4.569329 0.69231,1.305479 2.89928,2.695083 2.89928,3.07802 0,0.521995 -3.8945,-0.01608 -5.69352,-1.014174 -0.46813,-0.259708 -1.33931,-0.885086 -1.93596,-1.38973 -2.48779,-2.104182 -3.3394,-2.659053 -4.15146,-2.704875 -0.58907,-0.03325 -0.59824,-0.02605 -0.43518,0.340931 1.46769,2.673989 1.23015,6.453318 0.53233,9.164403 -0.41403,1.990808 -1.3321,4.020019 -2.34021,5.560678 -0.32784,0.501025 1.7617,0.891191 2.91509,2.231257 1.32033,1.534033 1.2511,1.514287 1.38129,2.390472 0.17883,1.203589 -0.36325,2.13164 -1.33674,2.787316 -0.32561,0.219314 -1.2872,0.444893 -1.86311,0.414002 -2.33838,-0.125431 -3.59862,-1.371021 -3.95427,-2.291832 -0.0795,-0.205884 -1.0032,-0.702623 -1.38024,-0.269073 -1.477,1.698338 -4.22885,3.035542 -4.72961,3.065132 -1.18117,-0.16839 -3.56063,-1.735958 -4.764481,-2.678525 z m 2.11304,-7.582004 c 0.0127,-2.312187 0.24812,-2.199656 -1.480459,-1.393454 -1.484817,0.692514 -1.195471,0.187097 -1.21702,2.2213 0.03792,1.92764 -0.545383,1.56065 1.737759,3.450072 1.20651,0.876824 1.00197,1.090145 0.95972,-1.709526 -0.0137,-0.907515 -0.0138,-0.04621 0,-2.568392 z m 0.50561,-4.239741 c 0.0538,-1.183632 0.24629,-1.020698 -1.39866,-1.000194 -1.822363,0.02269 -1.405794,-0.31864 -1.455763,1.346103 0.03958,2.120278 -0.719178,1.344348 1.093993,0.708629 1.4461,-0.684516 1.77835,-0.269399 1.76043,-1.054538 z"
             id="path241" />
          <path
             class="text-path"
             d="m 88.940626,103.95775 -0.639131,1.8934 c 0,0 -0.503634,1.50486 -0.500312,1.48089 l -0.624671,1.8667 h 2.735824 l -0.500316,1.4809 H 84.941 l 2.747394,-8.19091 h 1.7629 z"
             id="path243"
             style="stroke-width:0.292962" />
          <path
             class="text-path"
             d="m 89.59733,107.8016 c 0,-1.79548 1.353199,-4.14258 3.493197,-4.14258 1.274992,0 1.88879,0.9648 1.88879,2.15025 0,1.84739 -1.33187,4.03009 -3.400771,4.03009 -1.353199,0 -1.978846,-0.9237 -1.978846,-2.0356 z m 3.960062,-1.94258 c 0,-0.57109 -0.284385,-0.93451 -0.727552,-0.93451 -1.035635,0 -1.820064,1.63107 -1.820064,2.79272 0,0.58191 0.260687,0.8826 0.739401,0.8826 0.966909,0 1.808215,-1.62025 1.808215,-2.74081 z"
             id="path245"
             style="stroke-width:0.226419" />
          <path
             class="text-path"
             d="m 97.202236,103.7607 h 1.910116 l -0.45501,5.9705 h -1.38875 l 0.113754,-1.14218 h -1.673131 l -0.625647,1.14218 h -1.511981 l 3.628279,-5.9705 z m -0.910032,3.75968 h 1.194417 l 0.251207,-2.64779 z"
             id="path247"
             style="stroke-width:0.226419" />
          <path
             class="text-path"
             d="m 101.17846,103.75714 c 1.9907,-0.38505 3.61881,0.28987 3.61881,2.13943 0,2.84464 -2.832,4.3827 -5.837008,3.73805 z m -0.45501,4.90187 c 1.54753,-0.13412 2.67322,-1.25683 2.67322,-2.76244 0,-0.80904 -0.50005,-1.1119 -1.21811,-1.1119 z"
             id="path249"
             style="stroke-width:0.226419" />
          <path
             class="text-path"
             d="m 104.03485,109.69515 2.25139,-5.9705 h 1.42193 l -2.25139,5.9705 z"
             id="path251"
             style="stroke-width:0.226419" />
          <path
             class="text-path"
             d="m 112.19161,103.72248 h 1.25129 l -2.25138,5.9705 h -1.61625 l -0.12561,-3.8938 -1.38875,3.8938 h -1.29632 l 2.25138,-5.9705 h 1.54753 l 0.11375,4.23776 1.51198,-4.23776 z"
             id="path253"
             style="stroke-width:0.226419" />
          <path
             class="text-path"
             d="m 118.48351,106.55558 -0.40999,1.07945 h -0.39814 c -0.52374,1.5056 -1.42192,2.22163 -2.84385,2.22163 -0.865,0 -1.85561,-0.54081 -1.85561,-2.00531 0,-1.66136 1.20627,-4.19449 3.44817,-4.19449 1.25129,0 2.12815,0.84149 1.75134,2.15889 h -1.39823 c 0.23936,-0.68574 -0.1019,-0.96479 -0.46686,-0.96479 -1.00009,0 -1.91012,1.63107 -1.91012,2.86627 0,0.65329 0.2512,0.94533 0.69437,0.94533 0.56877,0 0.97875,-0.42616 1.2276,-1.02753 h -0.93374 l 0.40999,-1.07945 z"
             id="path255"
             style="stroke-width:0.226419" />
          <path
             class="text-path"
             d="m 117.89643,109.23995 c 0,-0.49754 0.47871,-0.95615 0.95506,-0.94533 0.38629,0.0108 0.6375,0.23795 0.6375,0.60137 0,0.49754 -0.51189,0.93451 -0.99061,0.93451 -0.37444,0 -0.60195,-0.23795 -0.60195,-0.59272 z"
             id="path257"
             style="stroke-width:0.226419" />
          <path
             class="text-path"
             d="m 120.59042,109.22455 c 0,-0.49754 0.47871,-0.95615 0.95505,-0.94533 0.38629,0.0108 0.6375,0.23795 0.6375,0.60138 0,0.49754 -0.51189,0.93451 -0.99061,0.93451 -0.37444,0 -0.60194,-0.23795 -0.60194,-0.59272 z"
             id="path259"
             style="stroke-width:0.226419" />
          <path
             class="text-path"
             d="m 123.10416,109.18356 c 0,-0.49754 0.47872,-0.95615 0.95506,-0.94533 0.38629,0.0108 0.6375,0.23795 0.6375,0.60137 0,0.49754 -0.51189,0.93451 -0.99061,0.93451 -0.37444,0 -0.60195,-0.23795 -0.60195,-0.59272 z"
             id="path261"
             style="stroke-width:0.226419" />
        </g>
      </svg>
    </div>

    <header id="scroll-top">
      <div class="content">
        <% if @home_menu %>
          <%= link_to root_path, class: "desktop-view" do %>
            <h1>BRIAN TACDERAN</h1>
          <% end %>

          <%= link_to root_path, class: "mobile-view" do %>
            <%= image_tag "#{$s3}bt-logo.png", id: "heart-logo", class: "icon shown" %>
          <% end %>
        <% else %>
          <%= link_to root_path, class: "mobile-view" do %>
            <%= image_tag "#{$s3}bt-logo.png", id: "heart-logo", class: "icon shown" %>
          <% end %>
        <% end %>


        <nav class="desktop">
          <ul>
            <li id="heart" class="logo">

              <% if @home_menu %>
                <%= link_to bullseyestudio_path, class: "desktop" do %>
                  <%= image_tag "#{$s3}bt-logo.png", id: "heart-logo", class: "icon shown" %>
                  <div class="icon designs">
                    <div class="tooltip">Digital Designs</div>
                    <%= image_tag "#{$s3}bs-logo.png", id: "bs-logo", class: "icon hidden" %>
                  </div>
                <% end %>

              <% else %>

                <%= link_to root_path, class: "desktop" do %>
                  <span id="back"><i class="fas fa-arrow-left"></i></span>
                <% end %>

              <% end %>

            </li>
          </ul>
        </nav>

        <div id="ip-section" class="icon-popups desktop-view">
          <div id="ip-wrapper" class="wrapper">
            <%= link_to "https://github.com/briantacderan" do %>
              <div class="icon github">
                <div class="tooltip">GitHub</div>
                <span><i class="fab fa-github"></i></span>
              </div>
            <% end %>

            <%= link_to "https://www.linkedin.com/in/briantacderan" do %>
              <div class="icon linkedin">
                <div class="tooltip">LinkedIn</div>
                <span><i class="fab fa-linkedin"></i></span>
              </div>
            <% end %>

            <%= link_to "https://youtube.com/@thetacderancode" do %>
              <div class="icon youtube">
                <div class="tooltip">YouTube</div>
                <span><i class="fab fa-youtube"></i></span>
              </div>
            <% end %>

            <%= link_to "https://vocal.media/authors/brian-tacderan" do %>
              <div class="icon vocal">
                <div class="tooltip">Vocal</div>
                <span><i class="fas fa-paragraph"></i></span>
              </div>
            <% end %>

            <%= link_to "https://twitter.com/BrianTacderan" do %>
              <div class="icon twitter">
                <div class="tooltip">Twitter</div>
                <span><i class="fab fa-twitter"></i></span>
              </div>
            <% end %>

            <%= link_to "mailto:brian@thetacderancode.com" do %>
              <div class="icon email">
                <div class="tooltip">Email</div>
                <span><i class="fab fa-telegram-plane"></i></span>
              </div>
            <% end %>
          </div>
        </div>

      </div>

    </header>

    <%= yield %>

  </body>

</html>
