<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- universal -->
    <%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'semantic', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- scroll reveal -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css" />

    <!-- icon popups -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    <%= stylesheet_link_tag 'icon-popups', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- slide swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" />
    <%= stylesheet_link_tag 'slide-swiper', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- neomorphism -->
    <%= stylesheet_link_tag 'neomorphism', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="container">
        <div class="row">
          <div class="socials">

            <%= link_to root_path, class: "social-link" do %>
              <%= image_tag "https://tacderan-code.s3.us-west-1.amazonaws.com/images/my-logo.png" %>
            <% end %>

            <!-- icon popups -->
            <div class="icon-popups">
              <div class="wrapper">
                
                <% @contacts.each do |contact| %>
                  <a href="<%= contact.url %>">
                    <div class="icon <%= contact.fa_class %>">
                      <div class="tooltip"><%= contact.title %></div>
                      <span><i class="fab <%= contact.fa_key %>"></i></span>
                    </div>
                  </a>
                <% end %>

              </div>
            </div>

          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
        </div>
      </div>
    </footer>

    <!-- slide swiper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js"></script>
    <%= javascript_pack_tag 'slide-swiper' %>

    <!-- scroll jump -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <%= javascript_pack_tag 'scroll-jump' %>

  </body>
</html>
